<!-- templates/manage_characters.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Characters - UnscriptedAdventures</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Manage Characters</h1>
    <div class="manage-characters-container">
        <table class="character-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                <tr>
                    <td>{{ character.name }}</td>
                    <td>{{ character.race.name }}</td>
                    <td>{{ character.character_class.name }}</td>
                    <td>
                        <div class="button-container">
                            <button onclick="loadCharacter({{ character.id }})">Load</button>
                            <button onclick="deleteCharacter({{ character.id }})">Delete</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function loadCharacter(characterId) {
            fetch(`/select_character/${characterId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Character loaded: ' + data.character.name);
                        window.location.href = '/';
                    } else {
                        alert('Error loading character: ' + data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function deleteCharacter(characterId) {
            if (confirm('Are you sure you want to delete this character?')) {
                fetch(`/delete_character/${characterId}`, {
                    method: 'DELETE'  // Use DELETE method
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert(data.message);
                        location.reload();
                    } else {
                        alert('Error deleting character: ' + data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    </script>
</body>
</html>
